/*universal reset*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::-moz-selection {
    background: black;
    color: white;
}

*::selection {
    background: black;
    color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  

/*Used for REM units. 62.5% = 10px*/
html {
    font-size: 62.5%;
    background-color: #1d1d1d;
    //scroll-behavior: smooth;
    /*smooth scrolling to links check browser compatibility on mobile*/
    -ms-overflow-style: none;
    /* hide scrollbars in MS browser */
    
}

body {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: auto;
    max-width: 171.3rem;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0px 0px 6px #625757;
    box-shadow: 0px 0px 6px #625757;
    /* overflow-x: initial; */
}

@font-face {
    font-family: 'Antonio';
    src: url('../../static/fonts/antonio-bold.eot');
    src: url('../../static/fonts/antonio-bold.eot?#iefix') format('embedded-opentype'),
        /* url('../fonts/antonio-bold-webfont.woff2') format('woff2'),*/
        url('../../static/fonts/Antonio-Bold.woff') format('woff'),
        url('../../static/fonts/Antonio-Bold.ttf') format('truetype'),
        url('../../static/fonts/Antonio-Bold.svg') format('svg');
    /* IE9 Compact Modes EOT*/
    /* IE6-IE8 iefix*/
    /* Super Modern Browsers WOFF2 is LINE H BROKEN*/
    /* Pretty Modern Browsers WOFF i fixed this*/
    /* Safari, Android, iOS TTF*/
    /* Legacy iOS SVG*/
}

.hidden_A_link {
    /*Used to offset scroll behavior to accommodate sticky header */
    visibility: hidden;
    position: relative;
    top: -6.5rem;
    width: 0px;
    height: 0px;
    display: block;
}

/*SCROLL TO TOP BUTTON*/
/****************************************/
#scrolltop {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 2rem;
    right: 0;
    z-index: 5;
}

.scroll {
    position: absolute;
    bottom: 2rem;
    right: 1.4vw;
    border: 0.3rem solid white;
    border-radius: 50rem;
    background: black;
    padding: 1.2rem;
    margin: 0;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 5;
    opacity: 0.7;
}

.scroll:hover {
    background-color: #fe3b1f;
    opacity: 1;
}

.scroll:hover .icon {
    -webkit-transform: translateY(-0.4rem);
    transform: translateY(-0.4rem);
    color: white;
}

.scroll .icon {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    vertical-align: -1rem;
    color: white;
    margin: auto;
    margin-top: -15px;
    /*makes it round*/
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.divider {
    height: 8rem;
    width: 100%;
    background-image: url(../images/backgrounds/bg_01.png);
    background-size: 5px;
    margin: 2rem 0rem;
    z-index: 4;
}
.divider_heading {
    font-family: 'Antonio', sans-serif;
    letter-spacing: -0.1rem;
    line-height: 8rem;
    font-size: 5rem;
    font-weight: normal;
    text-align: center;
    color: white;
}

//////////////////////////////
//////   MEDIA QUERIES   /////
//////////////////////////////

/* 1500px - breakpoint to prevent about image/text overlap */
@media only screen and (max-width: 1500px) {
    
}

/* 1300px - flexbox project images need this breakpoint to go 1 col layout*/
@media only screen and (max-width: 1300px) {

}
/*MQ for ABOUT list break to 1 col*/
@media only screen and (max-width: 1230px) {

}

/*SPECIFIC DEVICE MQ'S*/

/*## Device = Desktops ##Screen = 1281px to higher resolution desktops*/
@media (min-width: 1281px) {

}

/*## Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*## Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {

}

/*## Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .scroll {
        right: 0;
    }
}

/*## Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
 
}

/*## Hamburger mobile menu display */
@media (max-width: 767px) {
}

/*## Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px*/
@media (min-width: 220px) and (max-width: 480px) {
    .divider_heading {
        
        font-size: 3rem;

    }
}