footer {
    background-color: white;
    width: 100%;
    height: 7rem;
    background-image: url(../../images/backgrounds/bg_01.png);
    background-size: 5px;
    grid-column: 1/13;
    margin: 3rem 0 0 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.footer_div_left {
    justify-self: start;
    align-self: center;
}

.footer_div_mobile {
    display: none;
}

.footer_div_center {
    justify-self: center;
    align-self: center;
    //margin-left: 7.5rem;
}

.footer_div_right {
    justify-self: end;
    align-self: center;
}

.footer_icon_left {
    fill: white;
    height: 3.5rem;
    vertical-align: middle;
    transition: all 0.3s linear 0s;
}
.footer_icon_left:hover {
    fill: #fe3b1f;
    transform: translateY(-0.2rem);
}

.footer_icon_right {
    fill: white;
    height: 3.5rem;
    vertical-align: middle;
    transition: all 0.3s linear 0s;
}

.footer_icon_right:hover {
    fill: #fe3b1f;
    transform: translateY(-0.2rem);
}

.footer_div_right a {
    text-decoration: none;
}

.footer_link a:link {
    text-decoration: none;
}

.footer_link a:visited {
    text-decoration: none;
}

.footer_link a:hover {
    text-decoration: none;
}

.footer_link a:active {
    text-decoration: none;
}

.footer_text {
    font-family: arial, sans-serif;
    text-transform: uppercase;
    font-size: 1.0rem;
    letter-spacing: 0.03rem;
    font-weight: normal;
    text-align: center;
    color: #fe3b1f;
    padding: 5px 8px;
    display: inline;
}


//////////////////////////////
//////   MEDIA QUERIES   /////
//////////////////////////////

/* 1500px - breakpoint to prevent about image/text overlap */
@media only screen and (max-width: 1500px) {
    
}

/* 1300px - flexbox project images need this breakpoint to go 1 col layout*/
@media only screen and (max-width: 1300px) {

}
/*MQ for ABOUT list break to 1 col*/
@media only screen and (max-width: 1230px) {

}

/*SPECIFIC DEVICE MQ'S*/

/*## Device = Desktops ##Screen = 1281px to higher resolution desktops*/
@media (min-width: 1281px) {

}

/*## Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*## Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
 
    .footer_div_center {
        display: none;
    }
}

/*## Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*## Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
        
    footer {
        height: 8rem;
    }

    .footer_icon_left {
        height: 5rem;
    }

    .footer_icon_right {
        height: 5rem;
    }

    
}

/*## Hamburger mobile menu display */
@media (max-width: 767px) {

}
/*## Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px*/
@media (min-width: 220px) and (max-width: 480px) {
    .footer_div_center {
        display: none;
     }
     
     footer {
        height: 8rem;
     }
     
     .footer_icon_left {
        height: 5rem;
     }
     
     .footer_icon_right {
        height: 5rem;
     }
     
}
