
.contact_background_wrapper {
    height: auto;
    width: 99.%;
    margin: 0 0.5rem;
    background-image: url(../../images/logos/logo_bg_lightblue.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 70rem;
    -webkit-transition: all 1.8s ease-out 0s;
    transition: all 1.8s ease-out 0s;
}

.contact_background_wrapper:hover {
    background-position: 50% 23%;
}

.contact_text_wrapper {
    width: 40%;
    height: auto;
    margin: 5rem auto 5rem auto;
    text-align: center;
}

#contact_text_headline {
    font-weight: 600;
    font-size: 8.5rem;
    font-family: 'antonio', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: -0.3rem;
    color: #22304E;
    line-height: calc(5.5rem * 1.618);
    text-shadow: 0 0.3rem 0.1rem white;
    -webkit-filter: drop-shadow(0 0.2rem 0.2rem #c7c7c7);
    filter: drop-shadow(0 0.2rem 0.2rem #c7c7c7);
}

#contact_text_main {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 2rem 0 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: calc(1.7rem * 1.618);
    color: #282828;
}

.fa-leaf {
    margin-top: 2rem;
    font-size: 5rem;
    color: limegreen;
}

/*FORM STYLING*/
/**********************************************************/

#formContainer {
    height: 54.4rem;
    padding: 1rem 0;
    max-width: 40rem;
    background-color: #e9ebef;
    margin: 0rem auto 4rem auto;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.83);
    box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.83);
    position: relative;
    z-index: 6;
}

#form_email_svg_icon {
    height: 3.7rem;
    display: block;
    padding: 1.3rem 0 0 0;
    margin: 0 auto 0 auto;
    -webkit-filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.3));
}

.form_input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #5a5e67;
    height: 3.5rem;
    width: 90%;
    margin: 2rem 5% 0 5%;
    border-radius: 99px;
    padding: 0 0 0 1rem;
    border-style: none;
    -webkit-box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.7);
}

input:focus,
select:focus,
text_area:focus,
button:focus {
    outline: none;
}

#text_area {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #5a5e67;
    border-radius: 1.4rem;
    height: 30rem;
    max-height: 30rem;
    width: 90%;
    max-width: 90%;
    margin: 2rem 5% 0 5%;
    padding: 0.8rem 1rem 0 1rem;
    resize: none;
    border-style: none;
    -webkit-box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.7);
    box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.7);
}

::-webkit-input-placeholder {
    /* Edge */
    color: #B1B5BF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: #B1B5BF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}

::placeholder {
    color: #B1B5BF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;

}

#text_area::-webkit-input-placeholder {
    color: #fe3b1f;
    font-size: 1.4rem;
    font-weight: normal;
}

#text_area:-ms-input-placeholder {
    color: #fe3b1f;
    font-size: 1.4rem;
    font-weight: normal;
}

#text_area::placeholder {
    color: #fe3b1f;
    font-size: 1.4rem;
    font-weight: normal;
}

#submit_button {
    display: block;
    width: 90%;
    margin: 1.5rem auto 1rem auto;
    height: 3rem;
    font-family: arial, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    background-color: #fe3b1f;
    border-radius: 1.2rem;
    border: 0;
    -webkit-box-shadow: 0px 0.2rem 0.3rem rgba(2, 9, 60, 0.44);
    box-shadow: 0px 0.2rem 0.3rem rgba(2, 9, 60, 0.44);
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    -webkit-appearance: none;
}

#submit_button:hover {
    background-color: #39B44A;
}

//////////////////////////////
//////   MEDIA QUERIES   /////
//////////////////////////////

/* 1500px - breakpoint to prevent about image/text overlap */
@media only screen and (max-width: 1500px) {
  
}

/* 1300px - flexbox project images need this breakpoint to go 1 col layout*/
@media only screen and (max-width: 1300px) {


}
/*MQ for ABOUT list break to 1 col*/
@media only screen and (max-width: 1230px) {
   
}

/*SPECIFIC DEVICE MQ'S*/

/*## Device = Desktops ##Screen = 1281px to higher resolution desktops*/
@media (min-width: 1281px) {

}

/*## Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*## Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
   
    .contact_text_wrapper {
        width: 60%;
        height: auto;
        margin: 5rem auto 5rem auto;
        text-align: center;
    }

    #contact_text_headline {
        color: #22304E;
        font-weight: 600;
        font-size: 4.5rem;
        font-family: 'antonio', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: -0.3rem;
        line-height: calc(3.5rem * 1.618);
        text-shadow: 0 0.3rem 0.1rem white;
        -webkit-filter: drop-shadow(0 0.2rem 0.2rem #c7c7c7);
        filter: drop-shadow(0 0.2rem 0.2rem #c7c7c7);
        padding: 0 0 0 0;

    }

    #contact_text_main {
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 2rem 0 0 0;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 2rem;
        line-height: calc(1.7rem * 1.618);
        color: #282828;
    }

}

/*## Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

/*## Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
    .contact_text_wrapper {
        width: 90%;
        margin: 5rem auto 5rem auto;
    }

    #contact_text_headline {
        font-size: 5.5rem;
        font-family: 'antonio', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: -0.3rem;
        line-height: calc(4rem * 1.618);
        text-shadow: 0 0.3rem 0.1rem white;
        -webkit-filter: drop-shadow(0 0.2rem 0.2rem #c7c7c7);
        filter: drop-shadow(0 0.2rem 0.2rem #c7c7c7);
        padding: 0 0 0 0;

    }

    #contact_text_main {
        width: 90%;
        padding: 2rem 0 0 0;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 2rem;
        line-height: calc(1.7rem * 1.618);
    }

    .fa-leaf {
        margin-top: 2rem;
        font-size: 5rem;
        color: limegreen;
    }

    #formContainer {
        width: 90%;

    }
}

/*## Hamburger mobile menu display */
@media (max-width: 767px) {

}

/*## Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px*/
@media (min-width: 220px) and (max-width: 480px) {
    .contact_text_wrapper {
        width: 90%;
        margin: 5rem auto 5rem auto;
    }

    #contact_text_headline {
        font-size: 5.5rem;
        font-family: 'antonio', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: -0.3rem;
        line-height: calc(4rem * 1.618);
        text-shadow: 0 0.3rem 0.1rem white;
        -webkit-filter: drop-shadow(0 0.2rem 0.2rem #c7c7c7);
        filter: drop-shadow(0 0.2rem 0.2rem #c7c7c7);
        padding: 0 0 0 0;

    }

    #contact_text_main {
        width: 90%;
        padding: 2rem 0 0 0;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-size: 2rem;
        line-height: calc(1.7rem * 1.618);
    }

    .fa-leaf {
        margin-top: 2rem;
        font-size: 5rem;
        color: limegreen;
    }

    #formContainer {
        width: 90%;

    }
}