
.about_grid_wrapper {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin: 2rem 1rem 0 1rem;
    -webkit-box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.41);
    box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.41);
    background-color: white;
    border-radius: 0.5rem;
}

.about_text_wrapper {
    grid-column: 1/3;
    grid-row: 2;
    width: 80%;
    max-width: 60rem;
    z-index: 2;
    padding: 3rem 0 0 0;
    margin: 0 0 0 6rem;
}

.about_profile_image_wrapper {
    height: 100%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/4;
    -ms-flex-item-align: end;
    align-self: end;
    overflow: hidden;
    background-image: url(../../images/profile_picture/andrew_profile_image.png), url(../../images/logos/logo_bg_orange.svg);
    background-size: 105rem, 100rem;
    background-position: right bottom, 115% 200%;
    background-repeat: no-repeat;
    -webkit-transition: all 1.8s ease-out 0s;
    transition: all 1.8s ease-out 0s;
    border-radius: 0.5rem;
}

.about_profile_image--mobile {
    display: none;
    grid-column: 1/4;
    grid-row: 1;
    width: 100%;
    border-radius: 0.5rem;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.54))
}

/*SVG ABOUT ICONS*/
.svg_icons_wrapper {
    grid-column: 1/4;
    grid-row: 3;
    z-index: 2;
    width: auto;
    margin: 3rem 0 0 0;
    padding-top: 0rem;
}
.svg_icons_wrapper-webdev{
    grid-column: 1/4;
    grid-row: 3;
    z-index: 2;
    width: auto;
    margin: 1rem 0 4rem 0rem;
    padding-top: 0rem;
}
.svg_icon {
    height: 5.5rem;
    margin-left: 1rem;
    padding-top: 1rem;
    -webkit-filter: drop-shadow(0px 4px 3px rgba(2, 9, 60, 0.83));
    filter: drop-shadow(0px 4px 3px rgba(2, 9, 60, 0.83));
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
}

.svg_icon:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.svg_icon:first-of-type {
    margin-left: 0rem;
}

/*ABOUT TEXT STYLING*/
.about_title {
    font-family: 'Antonio', sans-serif;
    letter-spacing: -0.4rem;
    font-size: 8rem;
    font-weight: normal;
    text-align: left;
    color: #22304E;
    padding: 1rem 0 0 0rem;
}

#aboutHR {
    height: 0.4rem;
    width: 40%;
    text-align: left;
    background-color: #fe3b1f;
    border: 0;
    margin-top: 0;
    padding: -1.3rem 0 0 0rem;
}

.about_text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: calc(2rem * 1.618);
    color: #282828;
    text-align: left;
    width: 100%;
    margin: 3rem 0 0 0;
    z-index: 1;
}

.about_paragraph_list {
    width: 100%;
    min-height: 24rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: calc(1.8rem * 1.618);
    color: #6e7b95;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    margin: 3rem auto 0rem auto;
    vertical-align: middle;
    padding: 1.8rem 0rem 0 0rem;
    -webkit-columns: 2;
    columns: 2;
    -webkit-column-gap: 4rem;
    column-gap: 4rem;
    -webkit-column-rule: 0.18rem solid #f0f0f0;
    column-rule: 0.18rem solid #f0f0f0;
    outline: 0.18rem solid #f0f0f0;
    outline-offset: -1.0rem;
    border: 0.18rem solid white;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0px 4px 15px -2px #afafaf;
    box-shadow: 0px 2px 15px -2px #afafaf;
}
.about_paragraph_list_text {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: calc(1.8rem * 1.618);
    color: #222;
}
.about_paragraph_list_icon {
    min-width: 2.8rem;
    height: 3.5rem;
    color: #fe3b1f;
    margin: 1.3rem 1rem 0 4rem;
    vertical-align: -1.4rem;
    /* VA adjusts the icon to align with text*/
}

//////////////////////////////
//////   MEDIA QUERIES   /////
//////////////////////////////

/* 1500px - breakpoint to prevent about image/text overlap */
@media only screen and (max-width: 1500px) {
    .about_profile_image_wrapper {
        background-position: 24rem bottom , 40rem 200%;
 }
}

/* 1300px - flexbox project images need this breakpoint to go 1 col layout*/
@media only screen and (max-width: 1300px) {


}
/*MQ for ABOUT list break to 1 col*/
@media only screen and (max-width: 1230px) {

    .about_paragraph_list_icon {

        margin: 1.3rem 4% 0 15%;
    }
}

/*SPECIFIC DEVICE MQ'S*/

/*## Device = Desktops ##Screen = 1281px to higher resolution desktops*/
@media (min-width: 1281px) {

}

/*## Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {
 .about_text {
    color: white;
    background-color:rgba(40, 40, 40, 0.5);
    padding: 0.6rem;
    border-radius: 3px;
 }
}

/*## Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    
    .about_profile_image_wrapper {
        display: none;
    }

    .about_profile_image--mobile {
        display: block;
    }

    .about_text_wrapper {
        grid-column: 1/4;
        grid-row: 2;
        width: 100%;
        z-index: 2;
        padding: 3rem 4% 0 4%;
        margin: 0 auto 0 auto;
    }

}

/*## Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
}

/*## Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
    .about_profile_image_wrapper {
        display: none;
    }

    .about_profile_image--mobile {
        display: block;
    }

    .about_text_wrapper {
        grid-column: 1/4;
        grid-row: 2;
        width: 80%;
        z-index: 2;
        padding: 3rem 0 0 0;
        margin: 0 auto 0 auto;
    }

    .about_title {
        font-family: 'Antonio', sans-serif;
        letter-spacing: -0.2rem;
        font-size: 3.5rem;
        font-weight: normal;
        text-align: left;
        color: #22304E;
        line-height: 4rem;
        padding: 2.0rem 0 0rem 0;
        margin: 0 0 0 0;
    }

    #aboutHR {
        height: 0.4rem;
        width: 100%;
        margin: 0.5rem 0 0 0;
        padding: -1.3rem 0 0 0rem;
    }

    .about_text {
        font-size: 2rem;
        line-height: calc(1.8rem * 1.618);
        width: 100%;
        padding: 0 0 0 0;
        margin: 1rem 0 0 0;
    }

    .about_paragraph_list {
        width: 75%;
        min-width: 0;
        min-height: 0;
        font-size: 1.2rem;
        line-height: calc(1.2rem * 1.618);
        margin: 3rem auto 3rem auto;
        padding: 2.2rem 0rem 2.2rem 0rem;
        -webkit-columns: 1;
        columns: 1;
    }

    .about_paragraph_list_icon {
        width: 3.5rem;
        height: 3.5rem;
        color: #fe3b1f;
        margin: 0.3rem 1rem 0 10%;
    }

    .svg_icons_wrapper {
        
        width: 100%;
        
    }

    .svg_icon {
        height: 3rem;
        margin-left: 0.3%;
        padding-top: 0;

    }

    .svg_icon:first-of-type {
        margin-left: 0;
    }
    
}

@media (max-width: 767px) {

}
/*## Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px*/
@media (min-width: 220px) and (max-width: 480px) {
    .about_profile_image_wrapper {
        display: none;
    }

    .about_profile_image--mobile {
        display: block;
    }

    .about_text_wrapper {
        grid-column: 1/4;
        grid-row: 2;
        width: 80%;
        z-index: 2;
        padding: 3rem 0 0 0;
        margin: 0 auto 0 auto;
    }

    .about_title {
        font-family: 'Antonio', sans-serif;
        letter-spacing: -0.2rem;
        font-size: 3.5rem;
        font-weight: normal;
        text-align: left;
        color: #22304E;
        line-height: 4rem;
        padding: 2.0rem 0 0rem 0;
        margin: 0 0 0 0;
    }

    #aboutHR {
        height: 0.4rem;
        width: 100%;
        margin: 0.5rem 0 0 0;
        padding: -1.3rem 0 0 0rem;
    }

    .about_text {
        font-size: 2rem;
        line-height: calc(1.8rem * 1.618);
        width: 100%;
        padding: 0 0 0 0;
        margin: 1rem 0 0 0;
    }

    .about_paragraph_list {
        width: 95%;
        min-width: 0;
        min-height: 0;
        font-size: 1.2rem;
        line-height: calc(1.2rem * 1.618);
        margin: 3rem auto 3rem auto;
        padding: 2.2rem 0rem 2.2rem 0rem;
        -webkit-columns: 1;
        columns: 1;

    }

    .about_paragraph_list_icon {
        width: 3.5rem;
        height: 3.5rem;
        color: #fe3b1f;
        margin: 0.3rem 1rem 0 10%;
        
    }

    .svg_icon {
        height: 2.3rem;
        margin-left: 1%;
        padding-top: 0;

    }

    .svg_icon:first-of-type {
        margin-left: 0;
    }
}