/*PROJECT DETAILS SECTION*/
/**********************************************************/

.project_details_flex_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 55%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: #ffffff;
    margin: 2rem auto;
    padding-bottom: 2rem;
    -webkit-box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.41);
    box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.41);
    outline: 0.35rem solid #f8f8f8;
    outline-offset: -15px;
    z-index: 2;
    position: relative;
}
/* used to make first project row overlap animated background */
.--margin-top{
    margin-top: 16rem;
}
.flex_col_wrapper {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: calc(95% - 2rem);
    justify-content: space-evenly;
    margin-top: 16rem;
}
.project_details_flex_col {
    display: flex;
    flex-basis: auto;
    flex-grow: 2;
    flex-wrap: wrap;
    width: 40%;
    align-items: start;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: #ffffff;
    margin: 1rem 1rem;
    padding: 0 0 2rem 0;
    box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.41);
    outline: 0.35rem solid #f8f8f8;
    outline-offset: -15px;
    z-index: 2;
}

.project_hero_image_wrapper {
    width: 100%;
    height: 40vh;
    background-color: #fe3b1f;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transform: translateY(-2rem);
    position: absolute;
    border-bottom: 3px solid white;
    box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.41);
    z-index: 1;
}
.project_hero_image {
    width: 100%;
    max-width: 90rem;
    align-self: center;
    animation: slide-top 12s ease-in-out infinite alternate-reverse both;
}
.project_details_image {
    float: left;
    width: 60%;
    margin: 0 2rem 2rem 0;
    cursor: zoom-in;
}

.project_details_image--fullWidth {
    width: 100%;
    margin: 0 auto 2rem auto;
    cursor: zoom-in;
    border-radius: 4px;
}

.project_details_image_other_projects--fullWidth {
    width: 100%;
    max-height: 710px;
    margin: 0 auto 2rem auto;
    cursor: zoom-in;
    border-radius: 4px;
}

.box_shadow {
    box-shadow: 0px 1px 6px 0px #adadad;
}
.project_details_image--halfWidth {
    width: 48%;
    margin: 0 auto 2rem auto;
    cursor: zoom-in;
}

.project_details_image--halfWidth:first-of-type {
    margin-right: 1rem;
}



.--margin_left {
    margin-left: 2%;
}

.--margin_right {
    margin-right: 1%;
}

.project_details_text_wrapper {
    width: 75%;
    max-width: 80rem;
    /*experiment with this*/
    /*aim for between 40-70 characters per line*/
    padding: 4rem 0 2rem 0rem;
}

.project_details_subheading {
    width: 100%;
    font-family: 'Antonio', sans-serif;
    font-weight: normal;
    letter-spacing: -0.2rem;
    font-size: 4.2rem;
    line-height: 4.5rem;
    color: #22304E;
    padding: 2.0rem 0 0 0;
}

.project_details_subheading_h3 {
    width: 100%;
    font-family: 'Antonio', sans-serif;
    font-weight: normal;
    letter-spacing: -0.2rem;
    font-size: 3.2rem;
    color: #22304E;
    padding: 2.0rem 0 0 0;
}

.project_details_body_text {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    line-height: calc(2rem * 1.618);
    font-weight: 300;
    color: #282828;
    text-align: left;
    margin: 2rem 0 3rem 0;
    z-index: 1;
}
.project_details_paragraph_link {
    width: 100%;
    line-height: 3.2rem;
    text-align: center;
    border: 0.2rem solid #282828;
    background-color: none;
    border-radius: 0.4rem;
    color: #282828;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.2rem 1.4rem;
    text-decoration: none;
    display: inline-block;
}

.project_details_paragraph_link:hover {
    background-color: #282828;
    color: white;
}

.project_details_text_wrapper a {
    text-decoration: none;
}

.project_details_submit_button {
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 1.5rem auto 3rem auto;
    height: 6rem;
    font-family: arial, sans-serif;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    background-color: #fe3b1f;
    border-radius: 0.2rem;
    border: 0;
    -webkit-box-shadow: 0px 0.2rem 0.3rem rgba(2, 9, 60, 0.44);
    box-shadow: 0px 0.2rem 0.3rem rgba(2, 9, 60, 0.44);
    -webkit-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    -webkit-appearance: none;
}

.project_details_submit_button:hover {
    background-color: #39B44A;
    text-decoration: none;
}

/* PROJECT DETAILS - MODAL STYLING */
/**********************************************************/
/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    /* Stay in place */
    z-index: 9;
    /* Sit on top */
    padding: 0;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 1);
    /* Black w/o opacity */
}

/* Modal Content (Image) */
.modal_content {
    margin: 3% auto 1% auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    height: auto;
    width: auto;
    cursor: grab;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: 0 auto;
    display: block;
    color: white;
    padding: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 300;
    text-align: center;
    -ms-flex-item-align: start;
    align-self: flex-start;
    z-index: 10;
    background-color: black;
    border-radius: 5px;
}

/* Add Animation - Zoom in the Modal */
.modal_content,
#caption {
    -webkit-animation-name: zoom;
    animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    z-index: 10;
    right: 35px;
    width: 4rem;
    height: 4rem;
    text-align: center;
    background-color: black;
    color: #f1f1f1;
    font-size: 3.4rem;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

//////////////////////////////
//////   MEDIA QUERIES   /////
//////////////////////////////

/* 1500px - breakpoint to prevent about image/text overlap */
@media only screen and (max-width: 1500px) {
    
}

/* 1300px - flexbox project images need this breakpoint to go 1 col layout*/
@media only screen and (max-width: 1300px) {

}
/*MQ for ABOUT list break to 1 col*/
@media only screen and (max-width: 1230px) {

}

/*SPECIFIC DEVICE MQ'S*/

/*## Device = Desktops ##Screen = 1281px to higher resolution desktops*/
@media (min-width: 1281px) {

}

/*## Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*## Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
 
    
    .project_details_flex_row {
        width: 95%;
        margin: 2rem auto;
        padding-bottom: 2rem;
    }
    .--margin-top{
        margin-top: 16rem;
    }
    .project_details_subheading {
        font-size: 3.5rem;
    }

    .project_details_body_text {
        font-size: 2rem;
        line-height: calc(2rem * 1.618);
        font-weight: 300;
        color: #282828;
        margin: 2rem 0 2rem 0;
    }

    .project_details_list {
        font-size: 1.7rem;
        line-height: calc(1.5rem * 1.618);
        -webkit-column-count: 1;
        column-count: 1;
        margin: 2rem 0;
        padding: 2rem;
        padding-left: 3.5rem;
    }

    .project_details_list li {
        padding: 0.4rem 0;
    }

}

/*## Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*## Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
    .project_details_flex_row {
        width: 95%;
        margin: 2rem auto;
        padding-bottom: 1rem;
        -webkit-box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.41);
        box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.41);
        outline: 0.35rem solid #f8f8f8;
        outline-offset: -8px;
    } 
    .--margin-top{
        margin-top: 16rem;
    }
    .project_details_flex_col:nth-of-type(2) {
        margin-top: 1rem;
    }

    .project_details_text_wrapper {
        width: 90%;
        max-width: none;
        /*experiment with this*/
        /*aim for between 40-70 characters per line*/
        padding: 3rem 0 0 0;
    }

    .project_details_body_text {
        width: 100%;
        font-size: 1.8rem;
        line-height: calc(1.6rem * 1.618);
        font-weight: 300;
        color: #282828;
        text-align: left;
        padding: 0 0 0 0;
        margin: 2rem 0 3rem 0;
        z-index: 1;
    }
    
}

@media (max-width: 767px) {
    .project_details_flex_col {
        width: 90%;
        align-items: start;
        justify-content: center;
        background-color: #ffffff;
        margin: 1rem 1rem;
        padding: 1rem;
    }

    .project_details_paragraph_link {
        line-height: 2.6rem;
        font-size: 1.3rem;
    }
}
/*## Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px*/
@media (min-width: 220px) and (max-width: 480px) {
    .project_details_flex_row {
        width: 95%;
        margin: 2rem auto;
        padding-bottom: 1rem;
        -webkit-box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.41);
        box-shadow: 0px 0.2rem 0.6rem rgba(2, 9, 60, 0.41);
        outline: 0.35rem solid #f8f8f8;
        outline-offset: -8px;
    }
    .--margin-top{
        margin-top: 16rem;
    }
    .project_details_text_wrapper {
        width: 90%;
        max-width: none;
        /*experiment with this*/
        /*aim for between 40-70 characters per line*/
        padding: 3rem 0 0 0;
    }

    .project_details_subheading {
        font-size: 3rem;
        letter-spacing: -0.15rem;
    }
    .project_details_subheading_h3 {
        
        font-size: 2.5rem;
        letter-spacing: -0.15rem;
        
    }
    .project_details_body_text {
        width: 100%;
        font-size: 1.8rem;
        line-height: calc(1.6rem * 1.618);
        font-weight: 300;
        color: #282828;
        text-align: left;
        padding: 0 0 0 0;
        margin: 2rem 0 3rem 0;
        z-index: 1;
    }

}
/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    100% {
      -webkit-transform: translateY(-40px);
              transform: translateY(-40px);
    }
  }
  