
/*ANIMATED HERO BANNER*/
/**********************************************************/
@keyframes animatedBackground {
    from {
        -webkit-transform: scale(1.2) rotateX(20deg) translateX(00px) translateY(-400px);
        transform: scale(1.2) rotateX(20deg) translateX(00px) translateY(-400px);
    }

    to {
        -webkit-transform: scale(1.2) rotateX(20deg) translateX(00px) translateY(-1200px);
        transform: scale(1.2) rotateX(20deg) translateX(00px) translateY(-1200px);
    }
}

.hero_background {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: auto;
    margin: 0rem 0.9rem 1rem 0.9rem;
    height: 92vh;
    min-height: 60rem;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(18, 132, 237), rgb(0, 0, 0));
    -webkit-perspective: 700px;
    perspective: 700px;
    z-index: 1;
    -webkit-box-shadow: 0px 2px 7px #1c1c1c;
    box-shadow: 0px 2px 7px #1c1c1c;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.image_grid {
    -ms-flex-line-pack: start;
    align-content: flex-start;
    animation: animatedBackground 75s linear 0s infinite alternate none running;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 100vh;
    min-height: 800px;
    min-width: 2200px;
    /*edit this to be large to prevent gaps on the left & right*/
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.image_grid_item_container {
    list-style: none;
    width: 300px;
    height: 190px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
 
.image_grid_item {
    height: auto;
    display: block;
    opacity: 0.3;
    margin: auto;
}

.image_grid_item.tile {
    width: 100%;
    height: 100%;
}

/*HERO LOGO*/
/**********************************************************/
.hero_logo_wrapper {
    display: flex;
    width: auto;
    height: 40rem;
    background-size: 60%;
    background-image: url(../../images/logos/logo_bg_orange.svg);
    background-repeat: no-repeat;
    background-position: center;
    line-height: 0;
    margin: 20vh auto 2vh auto;
    position: relative;
    z-index: 3;
}

.slide-in-fwd-center {
    -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s both;
}

@-webkit-keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

#hero_andrew_gilroy {
    margin: auto auto;
    width: 100%;
    font-family: 'Antonio', sans-serif;
    font-weight: normal;
    font-size: 12.68rem;
    line-height: calc(5.5rem * 1.618);
    letter-spacing: -0.7rem;
    text-align: center;
    color: white;
    text-shadow: 0 0.3rem 0 #fe3b1f;
    filter: drop-shadow(0px 2px 0.1rem rgba(0, 0, 0, 1));
    z-index: 3;
}

.focus-in-expand {
    -webkit-animation: focus-in-expand 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
    animation: focus-in-expand 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px), drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.84));
        opacity: 0;
    }

    100% {
        filter: blur(0px), drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.84));
        opacity: 1;
    }
}

#hero_logo_colon {
    font-size: 8rem;
    vertical-align: 2rem;
}

.hero_text_wrapper {
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 3;
    animation: opacity-Fade-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3s both;
}

@keyframes opacity-Fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.hero_text_wrapper h1 {
    display: inline-block;
    font-family: 'Antonio', sans-serif;
    font-weight: normal;
    font-size: 3.5rem;
    width: auto;
    height: auto;
    padding: 0 2rem;
    color: white;
    text-shadow: 0 0.2rem 0 #fe3b1f;
    filter: drop-shadow(0px 1px 0.1rem rgba(0, 0, 0, 1));
    z-index: 3;
}

#hero_bullet1 {
    font-size: 2rem;
    color: #fe3b1f;
    text-shadow: none;
    vertical-align: 10px;
    filter: none;
}

#hero_bullet2 {
    font-size: 2rem;
    text-shadow: none;
    color: #fe3b1f;
    vertical-align: 10px;
    filter: none;
}



//////////////////////////////
//////   MEDIA QUERIES   /////
//////////////////////////////

/* 1500px - breakpoint to prevent about image/text overlap */
@media only screen and (max-width: 1500px) {
    
}

/* 1300px - flexbox project images need this breakpoint to go 1 col layout*/
@media only screen and (max-width: 1300px) {


}
/*MQ for ABOUT list break to 1 col*/
@media only screen and (max-width: 1230px) {
    
}

/*SPECIFIC DEVICE MQ'S*/

/*## Device = Desktops ##Screen = 1281px to higher resolution desktops*/
@media (min-width: 1281px) {

}

/*## Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*## Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    
    .hero_logo_wrapper {
        position: absolute;
        top: 12vh;
        width: 100%;
        background-size: 25rem;
        margin: 2vh auto 2% auto;
    }

    #hero_andrew_gilroy {
        font-size: 9rem;
        letter-spacing: -0.4rem;
        text-align: center;
    }

    #hero_logo_colon {
        font-size: 6rem;
        vertical-align: 1.5rem;
    }

    .hero_text_wrapper {
        position: absolute;
        bottom: 10%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        z-index: 3;
    }

    .hero_text_wrapper h1 {
        font-size: 3rem;
        color: white;
        padding: 0;
    }

    #hero_bullet2 {
        display: block;
        font-size: 1rem;
        color: #fe3b1f;
        line-height: 3.2rem;
        padding: 0 0 0.5rem 0;
    }

    #hero_bullet1 {
        display: block;
        font-size: 1rem;
        color: #fe3b1f;
        line-height: 3.2rem;
        padding: 0 0 0.5rem 0;
    }

    /*animated Hero image background*/
    .image_grid {
        height: 573.5px;
        max-height: 400px;
        min-width: 1000px;
        /*edit this to be large to prevent gaps on the left & right*/
        pointer-events: none;
        position: absolute;
    }

    .image_grid_item_container {
        width: 33%;
    }

    .image_grid_item {
        height: auto;
        display: block;
        opacity: 0.2;
        margin: auto;
    }

    .image_grid_item.tile {
        width: 100%;
    }

    /*END OF ANIMATED HERO*/
}

/*## Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    

    .hero_logo_wrapper {
        position: absolute;
        top: 12vh;
        width: 100%;
        height: 28rem;
        background-size: 21rem;
        margin: 2vh auto 2% auto;
    }

    #hero_andrew_gilroy {
        font-size: 6rem;
        letter-spacing: -0.4rem;
        text-align: center;
    }

    #hero_logo_colon {
        font-size: 6rem;
        vertical-align: 0.6rem;
    }

    .hero_text_wrapper {
        position: absolute;
        bottom: 13%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        z-index: 3;
    }

    .hero_text_wrapper h1 {
        font-size: 3rem;
        color: white;
        padding: 0 0rem;
    }

    #hero_bullet2 {
        display: block;
        font-size: 1rem;
        color: #fe3b1f;
        margin: 0 0 0 0;
        line-height: 3.2rem;
        padding: 0 0 0.5rem 0;
    }

    #hero_bullet1 {
        display: block;
        font-size: 1rem;
        color: #fe3b1f;
        margin: 0 0 0 0;
        line-height: 3.2rem;
        padding: 0 0 0.5rem 0;
    }

}

/*## Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
    
    /*ANIMATED HERO SECTION*/
    /**********************************************************/
    .image_grid {
        height: 573.5px;
        max-height: 400px;
        min-width: 800px;
        /*edit this to be large to prevent gaps on the left & right*/
        padding: 0;
        pointer-events: none;
        position: absolute;
    }

    .image_grid_item_container {
        width: 30%;
        margin: 0;
    }

    .image_grid_item {
        opacity: 0.2;
    }

    .image_grid_item.tile {
        width: 100%;
    }

    /*HERO LOGO SECTION*/
    /**********************************************************/
    .hero_logo_wrapper {
        position: absolute;
        top: 12vh;
        width: 100%;
        height: 24rem;
        background-size: 30%;
        margin: 2vh auto 2% auto;
    }

    #hero_andrew_gilroy {
        font-size: 5rem;
        letter-spacing: -0.4rem;
        text-align: center;
    }

    #hero_logo_colon {
        font-size: 5rem;
        vertical-align: 0.4rem;
    }

    .hero_text_wrapper {
        position: absolute;
        bottom: 15%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        z-index: 3;
    }

    .hero_text_wrapper h1 {
        font-size: 2.3rem;
        color: white;
        padding: 0 0rem;
    }

    #hero_bullet2 {
        display: block;
        font-size: 1rem;
        color: #fe3b1f;
        margin: 0 0 0 0;
        line-height: 3.2rem;
        padding: 0 0 0.5rem 0;
    }

    #hero_bullet1 {
        display: block;
        font-size: 1rem;
        color: #fe3b1f;
        margin: 0 0 0 0;
        line-height: 3.2rem;
        padding: 0 0 0.5rem 0;
    }

}

/*## Hamburger mobile menu display */
@media (max-width: 767px) {

}
/*## Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px*/
@media (min-width: 220px) and (max-width: 480px) {
    

    /*ANIMATED HERO SECTION*/
    /**********************************************************/
    .image_grid {
        height: 700px;
        margin: auto;
        min-width: 400px;
        min-height: 700px;
        /*edit this to be large to prevent gaps on the left & right*/
    }
    
    .image_grid_item_container {
       
        height: auto;
        width: 48%;
    }
    
    .image_grid_item {
        height: auto;
        display: block;
        opacity: 0.2;
        margin: auto;
    }
    
    .image_grid_item.tile {
        width: 100%;
    }

    /*HERO LOGO SECTION*/
    /**********************************************************/
    .hero_logo_wrapper {
        position: absolute;
        top: 12vh;
        width: 100%;
        height: 24rem;
        background-size: 30%;
        margin: 2vh auto 2% auto;
    }

    #hero_andrew_gilroy {
        font-size: 5rem;
        letter-spacing: -0.4rem;
        text-align: center;
    }

    #hero_logo_colon {
        font-size: 5rem;
        vertical-align: 0.4rem;
    }

    .hero_text_wrapper {
        position: absolute;
        bottom: 15%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        z-index: 3;
    }

    .hero_text_wrapper h1 {
        font-size: 2.3rem;
        color: white;
        padding: 0;
    }

    #hero_bullet2 {
        display: block;
        font-size: 1rem;
        color: #fe3b1f;
        margin: 0;
        line-height: 3.2rem;
        padding: 0 0 0.5rem 0;
    }

    #hero_bullet1 {
        display: block;
        font-size: 1rem;
        color: #fe3b1f;
        margin: 0 0 0 0;
        line-height: 3.2rem;
        padding: 0 0 0.5rem 0;
    }

}