NavBar {
  position: relative;
  top: 0;
}


header {
  //position: -webkit-sticky;
  
  //position: fixed;
  position: sticky;
  top: 0;
  height: 6rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-image: url(../images/backgrounds/bg_01.png);
  background-size: 5px;
  -webkit-box-shadow: 0px 2px 7px #1c1c1c;
  box-shadow: 0px 2px 7px #1c1c1c;
  z-index: 7;
}

nav {
  width: 45%;
  text-align: right;
  align-self: center;
  justify-content: flex-end;
  //width: 30rem;  
  //outline: 2px solid red;
  //margin-right: 4%;
}

/*NAV LOGO STYLING*/
/**********************************************************/
.nav-logoWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 17rem;
  height: 8rem;
  background-image: url(../images/logos/logo_bg_orange.svg);
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.64));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.64));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 1.6rem;
  /*this is an important property for aligning the text blocks*/
  margin: 0.5rem 0 0 1%;
  z-index: 3;
}

.nav-logo-AndrewGilroy {
  font-family: 'Antonio', sans-serif;
  letter-spacing: -0.1rem;
  font-size: 2.45rem;
  font-weight: normal;
  text-align: center;
  width: 100%;
  color: #dce1ee;
  color: white;
  padding: auto 0;
  margin: auto 0;
}

#nav-logo-colon {
  font-size: 2rem;
  vertical-align: 3px;
}

/*styling for nav links*/
/**********************************************************/
nav a {
  font-family: 'Source Sans Pro', sans-serif;
  display:inline-block;
  padding: 0 7%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

nav a:link {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
}

nav a:hover {
  color: #fe3b1f;
  text-decoration: none;
}

nav a:active {
  text-decoration: none;
}
#nav_return_to_projects_link {
  font-family: 'Source Sans Pro', sans-serif;
  display:inline-block;
  padding: 0;
  margin: 0 2rem 0 0;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  text-decoration: none;
}
.nav_logo_link {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.nav_logo_link:link {
  text-decoration: none;
}

.nav_logo_link:visited {
  text-decoration: none;
}

.nav_logo_link:hover {
  -webkit-transform: translateY(-0.3rem);
  transform: translateY(-0.3rem);
  text-decoration: none;
  text-shadow: 0 1px 0px #fe3b1f;
}

.nav_logo_link:active {
  text-decoration: none;
}

/*MOBILE HAMBURGER & OVERLAY*/
/**********************************************************/

#nav_hamburger {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 8;
  top: 0;
  right: 0;
  background-color: #fe3b1f;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 15vh;
  width: 100%;
}

.overlay a {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 8rem;
  height: 8rem;
  color: white;
  background-image: url(../images/backgrounds/bg_01.png);
  background-size: 5px;
  -webkit-box-shadow: 0px 2px 7px #1c1c1c;
  box-shadow: 0px 2px 7px #1c1c1c;
  text-transform: uppercase;
  text-align: center;
/*   vertical-align: middle; */
  text-decoration: none;
  margin: 1rem 0 0 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.nav_overlay_link:hover,
.nav_overlay_link:focus {
  color: #fe3b1f;
}

.closebtn:hover,
.closebtn:focus {
  color: #fe3b1f;
}

.overlay .closebtn {
  position: absolute;
  cursor: pointer;
  top: 5%;
  right: 5%;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  border: 0.18rem solid black;
  border-radius: 20rem;
  color: black;
  background-color: none;

}

//////////////////////////////
//////   MEDIA QUERIES   /////
//////////////////////////////

/* 1500px - breakpoint to prevent about image/text overlap */
@media only screen and (max-width: 1500px) {
  
}

/* 1300px - flexbox project images need this breakpoint to go 1 col layout*/
@media only screen and (max-width: 1300px) {

}
/*MQ for ABOUT list break to 1 col*/
@media only screen and (max-width: 1230px) {

}

/*SPECIFIC DEVICE MQ'S*/

/*## Device = Desktops ##Screen = 1281px to higher resolution desktops*/
@media (min-width: 1281px) {

}

/*## Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {

}

/*## Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {

}

/*## Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*## Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
  .scroll {
      display: none;
  }
  .nav_logo_link:hover {
      -webkit-transform: none;
      transform: none;
      text-decoration: none;
      text-shadow: none;
  }
}

/*## Hamburger mobile menu display */
@media (max-width: 767px) {
  nav {
      
      -ms-flex-item-align: center;
      align-self: center;
      //padding: 0 1rem 0 0;
      margin-right: 2rem;
  }

  .overlay a {
      font-size: 2rem;
      letter-spacing: 0.1rem;
  }

  #nav_hamburger {
      font-size: 2rem;
      width: 4rem;
      line-height: 6rem;
      text-align: center;
      float: right;
      cursor: pointer;
      color: white;
      display: block;

  }

  .nav_home_link {
      display: none;
  }
}
/*## Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px*/
@media (min-width: 220px) and (max-width: 480px) {
  header {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      height: 6rem;
      margin: 0 0rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

  }

  nav {
      width: auto;
      -ms-flex-item-align: center;
      align-self: center;
      margin: 0 1rem 0 0;
  }
  .nav_logo_link:hover {
      -webkit-transform: none;
      transform: none;
      text-decoration: none;
      text-shadow: none;
  }
  .nav-logoWrapper {
      align-self: flex-start;
      width: 5rem;
      height: 6rem;
      margin: 0rem 0 0 1rem;
  }
  #nav_return_to_projects_link {
    margin: 0 1rem 0 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: white;
    text-decoration: none;
  }
  .nav-logo-AndrewGilroy {

      display: none;
      font-family: 'Antonio', sans-serif;
      letter-spacing: -0.1rem;
      font-size: 2.45rem;
      font-weight: normal;
      text-align: center;
      width: 100%;
      color: #dce1ee;
      color: white;
      padding: auto 0;
      margin: auto 0;
  }

  #nav-logo-colon {
      font-size: 2rem;
      vertical-align: 3px;
  }
  .scroll {
      display: none;
  }
}